.cardAnim {
  /* background-color: #11d4a3; */
  animation: myAnim 5s linear 0s infinite normal forwards;
}

@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    transform: translateY(0px);
  }
  0% {
    animation-timing-function: ease-in;
    transform: translateY(-10px);
  }
  0% {
    animation-timing-function: ease-in;
    transform: translateY(-20px);
  }
  0% {
    animation-timing-function: ease-in;
    transform: translateY(-30px);
  }
  0% {
    animation-timing-function: ease-in;
    transform: translateY(-40px);
  }

  10% {
    animation-timing-function: ease-in;
    transform: translateY(-50px);
  }
  10% {
    animation-timing-function: ease-in;
    transform: translateY(-40px);
  }
  20% {
    animation-timing-function: ease-in;
    transform: translateY(-30px);
  }

  30% {
    animation-timing-function: ease-in;
    transform: translateY(-20px);
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateY(-10px);
  }

  50% {
    animation-timing-function: ease-in;
    transform: translateY(0px);
  }

  60% {
    animation-timing-function: ease-in;
    transform: translateY(10px);
  }

  70% {
    animation-timing-function: ease-in;
    transform: translateY(20px);
  }

  80% {
    animation-timing-function: ease-out;
    transform: translateY(30px);
  }
  90% {
    animation-timing-function: ease-out;
    transform: translateY(40px);
  }
  100% {
    animation-timing-function: ease-out;
    transform: translateY(50px);
  }
  100% {
    animation-timing-function: ease-out;
    transform: translateY(40px);
  }
  100% {
    animation-timing-function: ease-out;
    transform: translateY(30px);
  }
  100% {
    animation-timing-function: ease-out;
    transform: translateY(20px);
  }
  100% {
    animation-timing-function: ease-out;
    transform: translateY(10px);
  }
}
