@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (max-height: 680px) {
} */

ul a.active {
  border: 2px solid #38b6ff;
}

/* .dropdownMenu > a.active {
  background-color: #38b6ff;
} */

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
button {
  font-family: 'Poetsen One', sans-serif;
}
